.contacts-form {
    width: 32rem;
    height: 46rem;
    left: 412px;
    top: 82px;
    background: #E0FFFF;
    box-shadow: 0px 0px 40px 10px;
    color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 24px 48px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;

}

.title-block {
    display: flex;
    justify-content: center;
}

.title-block__title {
    width: 115px;
    height: 50px;
    left: 242px;
    top: 26px;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    font-family: sans-serif;
    color: #787878;
    /*text-align: center;*/
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    white-space: nowrap;

}

.subtitle-block {
    margin-bottom: 8px;
}

.subtitle-block__text {
    display: block;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: #787878;
}

.input-block {
    margin-bottom: 16px;
}

.input-block__label {
    display: block;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
    width: 40px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.input-block__input {
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 16px;
    font-size: 28px;
    line-height: 36px;
    width: 100%;
    color: #787878;
    height: 60px;
}

.input-block__input::placeholder {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #CCC;
}


.input-block__message {
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 16px;
    font-size: 28px;
    line-height: 36px;
    width: 100%;
    color: #787878;
}

.input-block__message::placeholder {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #CCC;
}




.button-block__button {
    width: 40%;
    display: block;
    padding: 10px;
    background: #08457E;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin: 40px auto;
}


@media (min-width: 320px) and (max-width: 768px) {

    main {
        padding: 16px;
    }

    .contacts-form {
        width: 100%;
        height: 100%;
        padding-top: 38px;
    }

    .input-block__label {
        font-size: 24px;
        line-height: 16px;
        margin-bottom: 8px;
    }


    .form__button {
        margin-top: 54px;
        font-size: 32px;
        line-height: 16px;
        padding: 32px 64px;
    }


}








