section {
    width: 100%;
}

.product__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.product {
    max-width: 660px;
    float: left;
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
}
.product__title {
    font-size: 32px;
    margin: 1rem auto;
    }

.product__subtitle {
    font-size: 24px;
    margin: 1rem auto;
    font-style: italic;
    }

.product__text {
    font-size: 18px;
    text-align: justify;
}

.product__menu {
    text-align: center;
    box-shadow: 5px 5px 16px rgba(0,0,0,0.3);
    border-radius: 1rem;
    margin: 10rem 4rem;
    width: 30rem;
    float: left;
    padding: 1rem;
}

.product__price {
    font-size: 32px;
    font-weight: bold;
    color: red;
}

.product__dates {
    font-size: 20px;

}

.product__button {
    margin: 1rem auto;
    padding: 12px 18px;
    width: 40%;
    display: block;
    background: #08457E;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;

}

.product__button:hover {
    color: #82EE8D;
}

