.reviews-container {
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin: 1rem;
    justify-content: center;

}

.reviews-container__title{
    flex: 2;
    text-align: center;
}

.review-container {
    list-style-type: none;

}

.review {
    /*margin-bottom: 2rem;*/
    border: 2px solid;
    padding: 8px;
    width: 70%;
    color: #08457E;
    margin:10px auto 5px;
}

.review-title {
    color: #08457E;
}

.review-name {
    color: red;
    font-style: italic;
}

.review-text {
    font-size: 16px;
    color: black;
}

.authorize-button {
    width: 40%;
    display: block;
    padding: 10px;
    background: #08457E;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin: 40px auto;
}

.review-button__delete {
    background: #08457E;
    border: none;
    display: block;
    font-size: 14px;
    color: white;
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

