.navbar {
   display: flex;
}

.navbar-item {
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 1.2rem;
}

.navbar-item:hover {
    color: #82EE8D;
}

.navbar-badge {
    background-color: #f04040;
    border: 1px solid;
    color: #ffffff;
    width: 1.5rem;
}

@media (max-width: 480px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
}

